<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Autos</title>
    <title>Info</title>
</head>
<style>
    .scale {
        transition: 1s; /* Время эффекта */
    }
    .scale:hover {
        transform: scale(1.4); /* Увеличиваем масштаб */
    }
    .thumb img  {

        margin-right: 10px; /* Отступ справа */
        margin-bottom: 10px; /* Отступ снизу */
    }



</style>
<!--<body th:style="'background: url(/img/background3.jpg) no-repeat center center fixed ; background-size: cover;'">-->
<body>
<script>
    let input = $('.btn-block');

    // Заменяем на button c сохранением всех атрибутов
    input.replaceWith(
        $('<button />')
            .attr(input.attr())
            .text(input.val())
    );
</script>
<div class="container">
<ul class="nav nav-tabs">
    <li ><a th:href="@{/autos}">Ваши автомобили </a></li>
    <li class="active"><a th:href="@{/autos}">Информация по авто  </a></li>
    <li ><a href="#">Деффекты по кузову </a></li>
    <li ><a href="#">Регламентные работы </a></li>
    <li ><a href="#">Документация </a></li>
    <li ><a href="#">Выполненные ремонтные работы </a></li>

</ul>

<br>
<br>
    <p class="thumb">
        <img th:each="id,stat:${auto.getImages()}"
             th:src="@{/images/{id}(id=${auto.images.get(stat.index).getId()})}"
             th:height="200" class="scale img-rounded" />
    </p>
<br>
<br>
    <ul class="list-group">
        <li class="list-group-item" th:text="${'Марка: ' + auto.getBrand() }">Brand</li>
        <li class="list-group-item" th:text="${'Модель: ' + auto.getModel()}">Model</li>
        <li class="list-group-item" th:text="${'Регистрационный знак:  ' + auto.getLicensePlate()}">LicensePlate</li>
        <li class="list-group-item" th:text="${'Год выпуска :  ' + auto.getYearOfIssue()}">YearOfIssue</li>
        <li class="list-group-item" th:text="${'VIN номер :  ' + auto.getVinNumber()}">VinNumber</li>
        <li class="list-group-item" th:text="${'Пробег :  ' + auto.getMileage()}">Mileage</li>

    </ul>


<hr>
<a th:href="@{/autos/{id}/edit(id=${auto.getId()})}">Редактировать </a><br/><br/>

<form th:method="DELETE" th:action="@{/autos/{id}(id=${auto.getId()})}">
    <input class="btn-block" type="submit" value="Удалить авто "/>
</form>
<hr>

</div>
</body>
</html>