<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Autos</title>

    <style>

        li {
            list-style-type: none;
        }
    </style>
</head>
<body th:style="'background: url(/img/background4.jpg) no-repeat center center fixed ; background-size: cover;opacity: .9'">
<!--<body>-->


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>



<div class="container">
    <h2 style="color: white ">Vehicle accounting and control system</h2>
    <hr>

    <ul class="list-group" id="myList">
        <h2  style="color: white ">Список транспортных средств</h2>
        <p style="color: white ">Введите данные в поле ввода, чтобы найти в списке определенное транспортное средство:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Поиск...">
        <br>
        <a class="list-group-item "  href="/autos/new">Добавить новый авто... </a>
        <br/>

        <div th:each="auto : ${autos}">
            <li>
                <a  class="list-group-item" th:href="@{/autos/{id}(id=${auto.getId()})}"
                   th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>
            </li>

        </div>

        <br/>
    </ul>
</div>

</body>
</html>