<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Autos</title>

    <style>

        li {
            list-style-type: none;
        }
    </style>
</head>
<body th:style="'background: url(/img/background.jpg) no-repeat center center fixed ; background-size: cover;opacity: .919'">
<!--<body>-->


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            let value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>


<div class="container">
    <h2 style="color: white ">Система учета и контроля транспортных средств</h2>
    <hr>

    <ul class="list-group" id="myList">
        <h2 style="color: white ">Список Ваших транспортных средств</h2>
        <br>
        <br>
        <br>
        <h7 style="color: white ">Введите данные для поиска транспортного средства в вашем списке:</h7>
        <br>
        <input class="form-control" id="myInput" type="text" placeholder="Поиск...">
        <br>
        <a th:unless="${autos.isEmpty()}" class="list-group-item " href="/autos/new">Добавить новый авто... </a>
        <br/>
        <a th:if="${autos.isEmpty()}" class="list-group-item " href="/autos/new">Добавить ваш первый авто... </a>




        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">
            <div th:if="${auto.insuranceEndDate!=null} or ${auto.dateCompletionTechnicalInspection!=null} ">
                <li th:if="${auto.insuranceEndDate>data} and ${auto.dateCompletionTechnicalInspection==null}">
                    <a class="list-group-item"
                       th:href="@{/autos/{id}(id=${auto.getId()})}"
                       th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

                </li>
            </div>
        </div>

        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">
            <div th:if="${auto.insuranceEndDate!=null} or ${auto.dateCompletionTechnicalInspection!=null} ">
                <li th:if="${auto.dateCompletionTechnicalInspection>data} and ${auto.insuranceEndDate==null} ">
                    <a class="list-group-item"
                       th:href="@{/autos/{id}(id=${auto.getId()})}"
                       th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

                </li>
            </div>
        </div>



        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">

            <li th:if="${auto.insuranceEndDate==null} and ${auto.dateCompletionTechnicalInspection==null} ">
                <a class="list-group-item"
                   th:href="@{/autos/{id}(id=${auto.getId()})}"
                   th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

            </li>
        </div>

        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">
            <div th:if="${auto.insuranceEndDate!=null} and ${auto.dateCompletionTechnicalInspection!=null} ">
                <li th:if="${auto.insuranceEndDate>data}and ${auto.dateCompletionTechnicalInspection>data} ">
                    <a class="list-group-item" th:href="@{/autos/{id}(id=${auto.getId()})}"
                       th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

                </li>
            </div>
        </div>




        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">
            <div th:if="${auto.insuranceEndDate!=null} and ${auto.dateCompletionTechnicalInspection!=null} ">
                <li th:if="${auto.insuranceEndDate<=data} or ${auto.dateCompletionTechnicalInspection<=data} ">
                    <a style="color: red;"
                       class="list-group-item" th:href="@{/autos/{id}(id=${auto.getId()})}"
                       th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

                </li>
            </div>
        </div>


        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">
            <div th:if="${auto.insuranceEndDate!=null} or ${auto.dateCompletionTechnicalInspection!=null} ">
                <li th:if="${auto.insuranceEndDate<=data} and ${auto.dateCompletionTechnicalInspection==null} ">
                    <a style="color: red;"
                       class="list-group-item" th:href="@{/autos/{id}(id=${auto.getId()})}"
                       th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

                </li>
            </div>
        </div>

        <div th:each="auto : ${autos}" th:unless="${autos.isEmpty()}">
            <div th:if="${auto.insuranceEndDate!=null} or ${auto.dateCompletionTechnicalInspection!=null} ">
                <li th:if="${auto.insuranceEndDate==null} and ${auto.dateCompletionTechnicalInspection<=data} ">
                    <a style="color: red;"
                       class="list-group-item" th:href="@{/autos/{id}(id=${auto.getId()})}"
                       th:text="${auto.getBrand()+' '+auto.getModel()+' '+auto.getLicensePlate()}">auto</a>

                </li>
            </div>
        </div>


        <br/>
    </ul>
</div>

</body>
</html>