<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update auto</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/autos/{id}(id=${auto.getId()})}" th:object="${auto}">
  <label for="brand">Введите марку: </label>
  <input type="text" th:field="*{brand}" id="brand"/>
  <div style="color: red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Brand error</div>
  <br/>
  <br/>
  <label for="model">Введите модель: </label>
  <input type="text" th:field="*{model}" id="model"/>
  <div style="color: red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Model error</div>

  <br/>
  <br/>
  <label for="licensePlate">Введите номерной знак: </label>
  <input type="text" th:field="*{licensePlate}" id="licensePlate"/>
  <div style="color: red" th:if="${#fields.hasErrors('licensePlate')}" th:errors="*{licensePlate}">License plate error</div>

  <br/>
  <br/>
  <label for="licensePlate">Введите год выпуска: </label>
  <input type="text" th:field="*{yearOfIssue}" id="yearOfIssue"/>
  <div style="color: red" th:if="${#fields.hasErrors('yearOfIssue')}" th:errors="*{yearOfIssue}">Year of issue error</div>

  <br/>
  <br/>
  <label for="vinNumber">Введите 17-значный vin-номер: </label>
  <input type="text" th:field="*{vinNumber}" id="vinNumber"/>
  <div style="color: red" th:if="${#fields.hasErrors('vinNumber')}" th:errors="*{vinNumber}">Vin number error</div>
  <br/>
  <br/>
  <label for="mileage">Введите год выпуска: </label>
  <input type="number" th:field="*{mileage}" id="mileage"/>

  <br/>
  <br/>
  <input type="submit" value="Обновить данные авто!"/>
</form>

</body>
</html>